# Python artifacts
__pycache__/
*.pyc
.ortho-venv/

# Local database
db/fotoladu.sqlite.db
db/fotoladu.sqlite.db-journal
db/fotoladu.sqlite.db-shm
db/fotoladu.sqlite.db-wal

# Downloaded images
data/*/*/*/*.jpg
data/*/*/*/*.png
